<style>
    /* Font Setup */
    @font-face {
        font-family: 'Bebas Neue';
        src: url('/static/fonts/BebasNeue-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Global Transition Style */
    /* Defines a smooth transition effect for various elements */
    body,
    h1,
    .gag,
    .tag,
    .top-nav ul li a,
    form,
    .download-gag,
    .media-grid,
    label,
    select,
    input[type='text'],
    input[type='number'],
    button,
    .no-gags-message, .rate-limit-message,
    .gag-content img,
    .author-image img,
    .author-info,
    .username,
    .tags,
    .gag-content,
    .top-nav,
    .bottom-nav,
    footer {
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
    }

    /* Body Style */
    /* Sets the default style for the body of the page */
    body {
        display: none;
        padding-top: 50px;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    /* Header Style */
    /* Styles for the main header (h1) element */
    h1 {
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
    }

    /* Mastodon Verification Style */
    /* Hides the Mastodon verification element */
    #mastodon-verification {
      font-size: 0;
      color: hidden;
      text-decoration: none;
      overflow: hidden;
    }

    /* Gag Card Style */
    /* Styles for individual gag cards */
    .gag {
        font-family: 'Bebas Neue', sans-serif;
        position: relative;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* Media Container Style */
    /* Styles for the container holding media content */
    .media-container {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    /* Gag Content Style */
    /* Styles for the textual content of gags */
    .gag-content {
        text-align: left;
        flex: 1;
    }

    /* Gag Image Style */
    /* Styles for images inside gags */
    .gag-content img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    /* Gag Stats Style */
    /* Styles for the stats section of gags (upvotes, comments, etc.) */
    .gag-stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        background-color: transparent;
    }

    /* Spacer for Gag Stats */
    /* Provides spacing within the gag stats section */
    .stats-spacer {
        flex-grow: 1;
    }

    /* Author Image Style */
    /* Styles for the author's image */
    .author-image img {
        max-width: 80px;
        max-height: 80px;
        border-radius: 10%;
        margin-right: 10px;
        object-fit: cover;
    }

    /* Gag Info Style */
    /* Styles for various pieces of information about the gag (index, votes, etc.) */
    .gag-index,
    .upvotes-count,
    .downvotes-count,
    .comments-count,
    .awards-count {
        font-family: 'Bebas Neue', sans-serif;
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 1em;
        cursor: default;
    }

    /* Download Button Style */
    /* Styles for the download button on gags */
    .download-gag {
        font-family: 'Bebas Neue', sans-serif;
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 1.1em;
        cursor: default;
    }

    /* Author and Gag Info Style */
    /* Styles for the author and various gag info elements */
    .author-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .author-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .author-name a, .gag-content h3 a {
        color: inherit;
        text-decoration: none;
    }
    .author-name a:hover, .gag-content h3 a:hover {
        text-decoration: underline;
    }
    .username {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 0.9em;
        margin-top: 4px;
    }

    /* Tag Style */
    /* Styles for tags associated with gags */
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .tag {
        display: inline-block;
        padding: 5px 10px;
        color: #6c757d;
        background-color: transparent;
        font-size: 0.95em;
        border-radius: 50px;
        border: 2px solid;
        cursor: default;
        margin: 2px;
    }

    /* Gag Content Text Style */
    /* Styles for the text inside gag content */
    .gag-content {
        text-align: left;
    }

    /* Top Navigation Bar Style */
    /* Styles for the top navigation bar */
    .top-nav {
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 1000;
        padding: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .top-nav li {
        cursor: pointer;
    }
    .top-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .top-nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    .top-nav ul li a {
        text-decoration: none;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
    }
    .top-nav ul li a i {
        margin-right: 5px;
        font-size: 1.2em;
    }

    /* Form Style */
    /* Styles for forms used on the page */
    form {
        display: inline-block;
        margin-top: 20px;
        padding: 20px;
        border-radius: 8px;
        font-family: 'Bebas Neue', sans-serif;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    select, input[type='text'], input[type='number'] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Bebas Neue', sans-serif;
    }
    input:required:invalid {
        border: 2px solid #ff6b81;
    }
    button {
        font-size: 16px;
        color: inherit;
        background: none;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    /* Footer Style */
    /* Styles for the page footer */
    footer {
        text-align: center;
        margin-top: 40px;
        font-size: 0.8em;
        font-family: 'Bebas Neue', sans-serif;
    }

    /* Hover Effect for Download Button */
    /* Adds hover effect to the download button */
    .download-gag:hover {
        color: #007bff;
    }

    /* Dark/Light Mode Body Styles */
    /* Defines styles for dark and light modes */
    body.dark-mode {
        background-color: #181a21;
        color: #dcdcdc;
    }
    body.light-mode {
        background-color: #f2f2f2;
        color: #333;
    }

    /* No Gags/Rate Limit Message Style */
    /* Styles for displaying messages when no gags are found or rate limit is exceeded */
    .no-gags-message, .rate-limit-message {
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        font-size: 1.1em;
    }
    .no-gags-message span, .rate-limit-message span {
        color: inherit;
    }

    /* Media Grid Style */
    /* Styles for the grid layout of media items */
    .media-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: flex-start;
    }

    /* Media Item Style */
    /* Styles for individual media items in the grid */
    .media-item {
        flex: 1 1 200px;
        max-width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    /* Media Item Image Style */
    /* Styles for images within media items */
    .media-item img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    /* Hover Effect for Media Items */
    .media-item:hover img {
        transform: scale(1.05);
    }


 /* Gag Menu Positioning - Now for the download icon */
    .gag-download {
        position: absolute;
        top: 20px; /* Adjust to position the icon */
        right: 23px; /* Adjust as needed */
        font-size: 1.2em; /* Icon size, adjust as needed */
        cursor: pointer;
        z-index: 100;
        transition: color 0.3s; /* Smooth transition for hover effect */
    }

    .gag-download i {
        transition: color 0.3s; /* Smooth transition for color change */
    }

    .gag-download i:hover {
        color: #007bff; /* Highlight color on hover */
    }

</style>
