<style>
   /* Dark Mode Styles */
    .dark-mode {
        background-color: #181a21;
        color: #e6e6e6;
    }

    .dark-mode .username{
        color: #8aabcc;
    }

    .dark-mode h1 {
        color: #e6e6e6;
    }

    .dark-mode .gag {
        background-color: #2a2d3a;
        color: #d1d1d1;
        box-shadow: 0 4px 8px rgba(0, 192, 255, 0.2);
    }
    .dark-mode .gags-not-found {
        background-color: #2a2d3a;
        color: #d1d1d1;
        box-shadow: 0 4px 8px rgba(0, 192, 255, 0.2);
    }

    .dark-mode .gag:hover, .top-nav:hover{
        box-shadow: 0 8px 16px rgba(0, 192, 255, 0.4);
    }

    .dark-mode .top-nav {
        background-color: #181a21;
    }

    .dark-mode .top-nav ul li a {
        color: #e6e6e6;
    }

    .dark-mode .top-nav ul li a:hover {
        color: #0056b3;
    }

    .dark-mode form {
        background-color: #2c2f38;
        color: #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 192, 255, 0.1);
    }

    .dark-mode form:hover {
        box-shadow: 0 8px 16px rgba(0, 192, 255, 0.4);
    }

    .dark-mode label,
    .dark-mode select,
    .dark-mode input[type='text'],
    .dark-mode input[type='number'] {
        color: #e6e6e6;
    }

    .dark-mode select,
    .dark-mode input[type='text'],
    .dark-mode input[type='number'] {
        background-color: #232633;
        border-color: #3d4461;
    }

    .dark-mode button {
        background-color: #007bff;
    }

    .dark-mode button:hover {
        background-color: #0056b3;
        box-shadow: 0 4px 8px rgba(0, 192, 255, 0.3);
    }

    .dark-mode footer {
        color: #a7b0c4;
    }
</style>